body {
  margin: 0;
  padding: 0;
  background-image: url(../images/bg.png)
}

#mountain {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
}
#mountain img {
  width: 100%;
  max-width: 100%;
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}